html,
body {
  height: 100%;
}


table {
      width: 100%;
      border-collapse: collapse;
    }
    
th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 10px solid 0000;
      border-right: 10px solid #000;
}
    
  th {
      background-color: #f2f2f2;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
    } 
tr:hover {
      background-color: #f5f5f5;
}

main {
      text-align: center;
    }

 form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

body {
  display: block;
  align-items: center;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 900px;
  padding: 15px;
}

.form-signin {
    margin: 5px;
}

tbody {
  background-color: #f5f5f5; /* Set background color */
  border: 2px solid black; /* Add border */
  /* Add more styles as needed */
}

.col{
    margin: 10px;
}

.form-control {
  border: solid !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 8px !important;
}

.submit-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    color: white !important;
    max-width: 98%;
    background-color: #856F6F !important;
}

.mnavbar {
    background-color: #F5EBEB;
    margin-bottom: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.navbar-brand {
    padding-left: 100px;
}

.register-form {
    display: block;
}

.mbox {
    display: flex;
    background-color: #F5EBEB;
    border-radius: 50px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 87%;
    width: 95%;
    margin-bottom: 50px;
}

.preins {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
